<table>
<tr>
  <th>題名</th>
  <th>状態</th>
  <th>更新日</th>
  <th>作成日</th>
</tr>
<% requests.reverse.each do |request| %>
<tr>
  <td><%= link_to request.name, review_request_path(request) %></td>
  <th><%= request.status %></td>
  <td><%= l(request.updated_at)  %></td>
  <td><%= l(request.created_at)  %></td>
</tr>
<% end %>
</table>
