// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  font-style: bold;
  font-size: 18px;
  color: #eee;
  background: #a33;
  padding-top: 1px;
  padding-left: 5px;
  padding-bottom: 1px;
  border-radius: 10px;
}

table {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  border-collapse: collapse;
}

tr, td, th {
  border: 1px solid #eee;
}

.request_form_element input {
  width: 100%;
}

.request_form_element textarea {
  width: 100%;
  height: 80px;
}

.request_form_element th {
  width: 300px;
  background: pink;
  border-radius: 5px;
}

.request_workflow_element table {
  width: initial;
  border: 1px solid #bbb;
  border-radius: 5px;
  border-collapse: collapse;
}

.request_workflow_element th {
  width: 16em;
  background: pink;
  border-radius: 5px;
}

.request_workflow_authors {
  width: 13em;
}

.flow_step th {
  width: 2em;
}

